
/* TOP HEADER SECTION
--------------------------------------------------- */
.top-header {
  background-color: #4B4B4B;
  color: #F9F9F9;
  padding-inline: 5%;
  padding-block: 5px;
  margin-bottom: 15px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

@include mq(2px, 850.5px) {
  .address {
    display: none;
  }
  .tel {
    width: 100%;
    text-align: center;
  }
}

@include mq(851px, 998px) {
  .top-header {
    padding-inline: 2%;

    .tel-text {
      display: none;
    }
  }
}
